In [ ]:
import pandas as pd
import numpy as np

<!-- WARNING: THIS FILE WAS AUTOGENERATED! DO NOT EDIT! -->

In [ ]:
df = pd.read_csv("example/sample_class_1.csv")

In [ ]:
str(chr(np.random.choice(20)))

'\x07'

In [ ]:
github_id = pd.read_csv("../../Project_Mgmt/Wi23 COGS 118A Group Signup (Responses) - Form Responses 1.csv").iloc[:, 7]

0             jacobayu, EvanLiu0, laurennlui, rinakaura
1     LexuZhao, Tianyibian, TianjinTunan, quocduyvu6262
2          atruong39, Brandon028, AkshatMittal7, AK4032
3        SujalN, hugompham, angkitha, dennyyoo1, av1929
4     wincy02, Awu-Lin, RuoqianHuang, yunhan-xiao, C...
5        JackLiX0105, jiaxin-yeah, x6zeng, yandongxiang
6                    yushi20, Cocodayo, wgyyy, tomxienb
7               Zaanis, janetar, MJ-git-maker, aaaldama
8                             g9liu, IsLydia, xinyao-yi
9     Nikki991018, leo-ye0, uswalter, Neb345, Ellie-Zou
10         stma733, Cyuaz, SNHorne, seanrote, Kevinsu12
11                   howonjoshua, seonghunnn, yewonh311
12       grantDuntugan, JesseSV, trent8800, isabellllaa
13    JPerez3001, tochangUCSD, mbeerifeldman, ethanucsd
14    KBrandt57, srabin-cmd, Bobbybeatzdev, jay-matz...
15    c5k1m, sebastianalgharaballi, iepearson02, Lau...
16                kdaeve, Eunggseo, moonwsy, XinhaoZhao
17                           j-lamadrid, keateehrenburg
18    Simon-Zheng99,AlbertHender,AndrewZ987,Abhinav2...
19                    DouHoonKwark,chessmyers,SelimUCSD
20           dhathry, helloserina, afleschner, kneeko97
21                 MajorDarius, mikobrown, ZiyuWang0113
22             nb110240, shenovad, Ria-Singh, psankesh9
23         brichen,JeffrChen,vivianacheung,luzhangxiang
24      jorgeacevedo13, ahujar27, bvnarayanan, abetorok
25    wesleyynguyenn, juhitavijjali, flashruler, a3dhar
26      Wfelicity, Algorithmist-Girl, koilya, rainasong
27              irijin, MF02511, varshasampath20, m-que
28    J-Singletary, etlin3, stjohnfinn, cecilia-mart...
29                 ZhilinK,haixinchen2022,KaiMHK,Kyy006
30          fmshobojoe,na0mich1n,AndyLAndrew,AndyCesium
31                 adi-tomar,ssamat,zaki1503,AVGithub-1
32       vrothenbergUCSD,aldenyue,NilBeserler,aryan3844
33    Maggiebgg, Skyi1232123, Jinyiz, MinilordKREE, ...
34                               jiaying6429; brooksniu
35      dominik0420, s1raghun, nicolerangan, JamieWei21
36                   Seb0071,lugiumarra,philchi,tomok59
37                  kirafleischer, crayminor, kalampark
38                            DomZeman,kan-ryan,munch-g
39                   SinjabPortal, adli0029, SarahKagzi
40                   Devouringbowl57, nihegde18, atooln
41    tbonaiut, wewefel. Just wanted to add a quick ...
Name: List the GitHub usernames for ALL group members, separated by commas. It is critical there are NO TYPOS HERE!, dtype: object

In [ ]:
df["github_id"] = df["ID"]
with open("example/sample_class_1.csv", "w+") as f:
    f.write(df.to_csv())

In [ ]:
df

,ID,GPA,Gender,Ethnicity,Major,Skill1,Skill2,Skill3,Project choice
0,1,2.024016,M,-,Mech E,y,y,y,automotive
1,2,2.933907,F,-,Mech E,y,y,y,robotics
2,3,3.214822,M,-,EE,-,y,-,automotive
3,4,3.187678,M,B,Mech E,y,y,y,nanotech
4,5,4.267751,F,-,Civ E,y,y,y,renewable energy
...,...,...,...,...,...,...,...,...,...
100,101,3.888380,F,-,Civ E,y,-,y,statistics
101,102,2.895396,F,-,Mech E,y,y,y,nanotech
102,103,3.891389,M,B,EE,y,y,y,automotive
103,104,2.690115,F,-,CS,y,y,y,renewable energy
104,105,2.750115,M,-,CS,y,y,y,renewable energy